*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
0001-Integrate-the-slideshow.patch
.idea/runConfigurations.xml
.idea/runConfigurations.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/gradle.xml
.idea/deploymentTargetDropDown.xml
